typer==0.*
loguru==0.*
pandas==1.*
sh==1.*
attrs==21.*
rich==12.*
rapidjson==1.*
numpy==1.*
python-dateutil==2.*
python-dotenv==0.*
pydantic==1.*
pushbullet.py==0.*
diskcache==5.*
sqlmodel==0.*
plotly==5.*
alive-progress==2.*
appdirs==1.*